*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(#200016 , #10001f);
    height: 100vh;
}
a
{
    text-decoration: none;
    color: #fff;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}
header ul
{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    margin-right: 30px;
}
header ul li a
{
    padding: 6px 15px;
}
header ul li a:hover , .active
{
    background-color: #ccc;
    color: #200016;
    border-radius: 20px;
}
/* ////////////////////// */
.main
{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    scroll-behavior: smooth;
}
.main::after
{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient( to top,#200016 , transparent);
}
.main img
{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#moon2
{
    mix-blend-mode: screen;
    transform: translateY(60px);
}
.Ahmed
{
    font-size: 25px;
    color: #fff;
    transform: translateY(-160px);
}
/* ///////////////////////////////////// */
.content
{
    color: #fff;
    padding: 30px;
}
.content h2
{
    font-size: 30px;
    margin: 20px;
}
.content p
{
    margin: 20px;
}